<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Zbj Solo Chat Room</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <input id="chat-message-all" type="button" value="SendAll">
    <select id="chat-select"></select>
</body>
<script>
    var userid = {{ user_id }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chatsolo/' + userid + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        if(data['type'] == 'userlist')
        {
             renderSelect(message)
        }
        else {
            document.querySelector('#chat-log').value += (message + '\n');
        }
    };


    var obj = [
        {uid: 11, sid: 'aabb'},
        {uid: 12, sid: 'xxxx'},
        {uid: 13, sid: 'xxxx'},
    ]


    function renderSelect(data) {
        console.log(data);


        var html = '';
        data.forEach(item => {
            const it = JSON.parse(item)
            html += `<option value="${it.sid}">${it.uid}</option>`
        });
        $('#chat-select').html(html);

        console.log(html);
    }

    $('#chat-select').on('change', ()=> {
       console.log( $('#chat-select').val());
    });

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var obj = document.querySelector('#chat-select');
        var channelname = $('#chat-select option:selected') .val();//选中的值
        if(channelname == null)
        {
            alert('请选择发送人id');
        }

        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'sender': userid,
            'message': message,
            'accepter': channelname,
            'type': 'solo'
        }));

        messageInputDom.value = '';
    };
    document.querySelector('#chat-message-all').onclick = function(e)
    {
        var messageinputDom = document.querySelector('#chat-message-input');
        var message = messageinputDom.value;
        chatSocket.send(JSON.stringify({
            'sender':userid,
            'message':message,
            'accepter':'all',
            'type':'chat.all'
        }))
    }
    document.querySelector('#chat-select').onclick = function (e) {
        chatSocket.send(JSON.stringify({
            'type': 'userlist',
            'message': '11'
            })

        )
    };
</script>
</html>